absl-py==2.3.1
accelerate==1.11.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiohttp-retry==2.9.1
aiosignal==1.4.0
altair==5.5.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.7.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.11.0
astroid==4.0.4
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.1.0
attrs==25.4.0
azure-communication-email==1.1.0
azure-core==1.39.0
babel==2.18.0
beautifulsoup4==4.14.3
billiard==4.2.2
bleach==6.3.0
blinker==1.9.0
blis==1.3.0
cachetools==6.2.1
captum==0.8.0
catalogue==2.0.10
celery==5.5.3
certifi==2025.4.26
cffi==2.0.0
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpathlib==0.23.0
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.3
confection==0.1.5
contourpy==1.3.2
cryptography==42.0.8
cycler==0.12.1
cymem==2.0.11
datasets==4.2.0
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
Django==4.2.27
django-cors-headers==4.9.0
django-filter==25.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
docstring_parser==0.17.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing==2.2.1
faiss-cpu==1.13.2
Farama-Notifications==0.0.4
fastapi==0.128.0
fastjsonschema==2.21.2
filelock==3.18.0
Flask==3.1.2
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==25.9.23
flower==2.0.1
fonttools==4.57.0
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.3.2
fuzzywuzzy==0.18.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.30.0
google-api-python-client==2.192.0
google-auth==2.49.0
google-auth-httplib2==0.3.0
google-generativeai==0.8.6
google-pasta==0.2.0
googleapis-common-protos==1.73.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.71.2
gunicorn==23.0.0
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.2.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httplib2==0.31.2
httptools==0.7.1
httpx==0.27.2
huggingface-hub==0.35.3
humanize==4.14.0
idna==3.10
imbalanced-learn==0.14.0
img2pdf==0.6.3
iniconfig==2.3.0
instructor==1.14.5
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
isoduration==20.11.0
isort==8.0.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.2
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kafka-python==2.2.15
kaggle==1.8.4
kagglehub==1.0.0
kagglesdk==0.1.15
keras==3.11.3
kiwisolver==1.4.8
kombu==5.5.4
langcodes==3.5.0
language_data==1.3.0
lark==1.3.1
libclang==18.1.1
limits==5.6.0
llvmlite==0.45.1
loguru==0.7.3
lxml==6.0.2
marisa-trie==1.3.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
mistune==3.2.0
ml_dtypes==0.5.3
mpmath==1.3.0
msrest==0.7.1
multidict==6.7.0
multiprocess==0.70.16
murmurhash==1.0.13
namex==0.1.0
narwhals==2.10.1
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.2
notebook==7.5.3
notebook_shim==0.2.4
numba==0.62.1
numpy==2.4.3
oauthlib==3.3.1
opacus==1.4.0
openai==2.21.0
opencv-contrib-python-headless==4.13.0.92
opencv-python==4.13.0.92
opt-einsum==3.3.0
optree==0.17.0
packaging==25.0
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.6
pdf2image==1.17.0
pdfminer.six==20251230
pdfplumber==0.11.9
pikepdf==10.0.0
pillow==11.2.1
platformdirs==4.5.1
plotly==6.3.1
pluggy==1.6.0
preshed==3.0.10
prettytable==3.17.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.1
protobuf==5.29.6
psutil==7.0.0
psycopg2-binary==2.9.11
pure_eval==0.2.3
py-cpuinfo==9.0.0
py4j==0.10.9.9
pyarrow==21.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pyclipper==1.4.0
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.11.5
pydantic-settings==2.13.1
pydantic_core==2.33.2
pydeck==0.9.1
pygame==2.6.1
Pygments==2.19.2
PyJWT==2.10.1
pylint==4.0.5
PyMuPDF==1.27.2
pyparsing==3.2.3
PyPDF2==3.0.1
pypdfium2==5.2.0
pyspark==4.0.1
pytesseract==0.3.13
pytest==9.0.2
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.0
python-json-logger==4.0.0
python-multipart==0.0.6
python-slugify==8.0.4
pytz==2025.2
pywinpty==3.0.3
PyYAML==6.0.2
pyzmq==27.1.0
redis==7.1.0
referencing==0.37.0
regex==2025.9.18
reportlab==4.4.7
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rpds-py==0.28.0
rsa==4.9.1
ruamel.yaml==0.19.1
safetensors==0.6.2
scikit-learn==1.8.0
scipy==1.15.2
seaborn==0.13.2
Send2Trash==2.1.0
sentence-transformers==5.2.0
seqeval==1.2.2
setuptools==80.1.0
shap==0.49.1
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
slicer==0.0.8
slowapi==0.1.9
smart_open==7.4.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8.3
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.44
sqlparse==0.5.5
srsly==2.5.1
stack-data==0.6.3
starlette==0.50.0
streamlit==1.51.0
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
terminado==0.18.1
text-unidecode==1.3
tf_keras==2.20.1
thinc==8.3.6
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.22.1
toml==0.10.2
tomlkit==0.14.0
torch==2.9.0
torchvision==0.24.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.1
twilio==9.10.4
typer==0.20.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
ujson==5.12.0
ultralytics==8.3.123
ultralytics-thop==2.0.14
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.4.0
uvicorn==0.40.0
vine==5.1.0
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
weasel==0.4.1
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
whitenoise==6.11.0
win32_setctime==1.2.0
wrapt==2.0.0
xgboost==3.1.1
xxhash==3.6.0
yarl==1.22.0
